.liste-articles {
  list-style: none;
  padding: 0;
  margin: 0;
}

.article-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
}

.article-item:hover {
  background-color: #f9f9f9;
}